{% load static %}

<?php 

    include("{% static 'dbconfig.php' %}");
    
    session_start();
?>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bullyseye</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Favicon icon -->
      <link rel="icon" href="{% static 'images/fav-icon.png' %}" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap/css/bootstrap.min.css' %}">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
	  <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/font-awesome/css/font-awesome.min.css' %}">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
      
      
       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
      <link href='https://fonts.googleapis.com/css?family=PT Sans Narrow' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Fjalla One' rel='stylesheet'>

<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<style>
		    /* Remove the navbar's default margin-bottom and rounded borders */ 
		    .navbar {
		      margin-bottom: 0;
		      border-radius: 0;
		    }
		    
		    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
		    .row.content {height: 450px}
		    
		    /* Set gray background color and 100% height */
		    .sidenav {
		      padding-top: 20px;
		      background-color: #f1f1f1;
		      height: 100%;
		    }
		    
		    /* Set black background color, white text and some padding */
		    footer {
		      background-color: #555;
		      color: white;
		      padding: 15px;
		    }
		    
		    /* On small screens, set height to 'auto' for sidenav and grid */
		    @media screen and (max-width: 767px) {
		      .sidenav {
		        height: auto;
		        padding: 15px;
		      }
		      .row.content {height:auto;} 
		    }
	  	</style>
 
  
      
  </head>
<?php
 
    if(isset($_SESSION['admin_id'])== true && $_SESSION['role']=="admin")
    {
        $admin_id=$_SESSION['admin_id'];
        $sql="SELECT * FROM admin where id='$admin_id'";
        $res=mysqli_query($conn,$sql);
        $username="";
        while($row = mysqli_fetch_array($res))
        {  
            $email=$row["email"];
            $name=$row["username"];
            $mobile=$row["mobile"];
        }
    }
    else
    {
        // header("location:login.php");
    }
?>
  
  <body class="w3-light-grey">
  
  
  
  <!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large" style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
  <a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-32">CLOSE</a> 
  
 

  <a href="#home" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">HOME </a> 
  <a href="#MARKAIDE" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">MARKAIDE</a> 
  <a href="#SPEND ADD/REMOVE" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">SPEND ADD/REMOVE</a> 
  <a href="#VISUALIZATION" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">VISUALIZATION</a>
  <a href="#advanced" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">ADVANCED FEATURES & CAPABILITIES</a>
  <a href="#CONTACT US" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">CONTACT US</a>
</nav>

<!-- Top menu on small screens -->
<header class="header_nav w3-container w3-top w3-white w3-xlarge w3-padding-16">
  <span class="w3-left w3-padding"><img class="logo" src="{% static 'images/logo.png' %}"></span>
  <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()"><img src="{% static 'images/menu.png' %}"></a>
</header>

<!------------------------------Slider------------------->
<div id="home">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/slide1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/slide2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/slide3.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  
 
</div>
</div>
  
<!---------------------------------Login-section---------------------->

<div class="login-section">
<div class="container">
<div class="row">
<div class="col-md-6">
<h2> VIDEO </h2>
<div class="videos">
<img src="{% static 'images/video.jpg' %}">
</div>
</div>


<div class="col-md-6 login_form_sec">
<div class="log-sec">
<div class="w3-bar w3-black tab_head">
  <button class="w3-bar-item w3-button login_text active" onclick="openCity('Login')">Login</button>
  <button class="w3-bar-item w3-button register_text" onclick="openCity('Register')">Sign up</button>
</div>

<div id="Login" class="w3-container city">
  <form action="" style="max-width:600px!important;margin:auto">

  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field user" type="text" placeholder="Username" name="usrnm">
  </div>
  
   <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field pwd" type="password" placeholder="Password" name="psw">
  </div>
	<p class="forgot_pwd"><a href="#">Forgot Password?</a></p>
  <button type="submit" class="submit_btn btn">LOGIN</button>
</form>
</div>

<div id="Register" class="w3-container city" style="display:none">
  <form action="" style="max-width:600px!important;margin:auto">

  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field mail" type="email" placeholder="Email" name="email">
  </div>
  
   <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field pwd" type="password" placeholder="Password" name="psw">
  </div>

  <button type="submit" class="submit_btn btn">Sign up</button>
</form> 
</div>


</div>
</div>
</div>
</div>
</div>

<!----------------------------------about us---------------------------------------->

<div id="MARKAIDE">
<div class="about-section">
<div class="container">
<div class="row">
<div class="coloumn1">
<div class="marketing">
<div class="abt-img">
<img src="images/Optimizing-your-Marketing.png">
<h3>Optimizing your Marketing spends just became child’s play</h3>
</div>
<p>Why waste time on tracking spends on a spreadsheet when you can make informed decisions without lifting a finger?<br></br>
It’s been a long standing question– how to get the best out of my marketing budget? With billions of dollars on the line and consumers shopping across platforms and media channels, Marketing Mix Modeling (MMM) gives marketers the confidence they are making the right investment decision.</p>
</div>
</div>

<div class="coloumn2">
<img src="{% static 'images/abt.jpg' %}">
</div>


<div class="coloumn3">
<div class="spends">
<img src="{% static 'images/Introducing-MarkAIde.png' %}">
<h3>Introducing MarkAIde, the smart new tool to optimize your marketing spends</h3>
</div>
<p>With MarkAIde, you can shorten the time taken to measure the effectiveness and reach of your marketing and advertising campaigns and get the best insights to get a bang for every buck spent– in other words, smartest Marketing Mix Model tool yet</p>
</div>
</div>



<div class="row2">
<div class="coloumn4">
<div class="work">
<img src="{% static 'images/How-does-it-work.png' %}">
<h3>How does it Work?</h3>
</div>
<p>MarkAIde uses advanced indices and measurement techniques to track and quantify the performance of each element of the marketing mix. It also analyses the various segments of your marketing operation and builds cognitive models that help construct patterns and derive deep insights. This allows you to have a granular view of every single dollar spent towards marketing and outreach and helps you focus on channels that are performing better.</p>
</div>


<div class="coloumn5">
<div class="invest">
<img src="{% static 'images/Why-should-you.png' %}">
<h3>Why should you invest on MarkAIde?</h3>
</div>
<p>With MarkAIde, you can customize your marketing spend models to address specific markets, geographies, brands, and verticals. Building such extensive models allows you to capture your entire spend, from commissioning to conversion, and get the best idea on what works for the business. This allows you to deconstruct missteps and use the learning to make better decisions. The result? Your brand awareness improves. Your bottom line expands and along with it boosts other key metrics such as conversions and sales</p>
</div>
</div>
</div>
</div>

</div>
  
<div class="spendadd-section" id="SPEND ADD/REMOVE">
<div class="container">
	<h2>Spend Add/Remove</h2>
	<!--<div align="right" class="temp_download">
		<a href="tesmp.csv" target="_blank" class="temp_down btn btn-primary">Download Template</a>
		<form id="upload_csv" method="post" enctype="multipart/form-data">	
		<input type="file" name="csv_file" id="csv_file" accept=".csv" style="margin-top:15px;" />
		<input type="submit" name="upload" id="upload" value="Bulk Upload" style="margin-top:10px;" class="bulk_upload btn btn-info" />
		</form>
	</div>
	
	<div id="csv_file_data"></div>-->
	  <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="loader-bar"></div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                      <div class="row">
                                          <div class="col-sm-12">
                                             <!-- Bootstrap tab card start -->
                                             <div class="card">
                                                <!--<div class="card-header for_head">
                                                    <div class="card-header-right">
													    <a href="c_add.php"><button type="button" class="btn btn-info " >Add Customer</button></a>
													</div>
                                                </div>-->
                                                <br>
                                                 <?php 
                                                  error2();
                                                  error3();
                                                  err_m();
												  err_e();
                                                  noc();
                                                  emptyf(); error4();
                                                  error5();error6();
                                                  error7();
                                                  if(isset($_GET["c_del"]))
                                                  {
                                                    $Id=$_GET["c_del"];
                                                    $sql="delete from excelimport where Id='$Id'";
                                                    $result=mysqli_query($conn,$sql);
                                                            if($result)
                                                            {
                                                                  error8();
                                                            }
                                                            else
                                                            {
                                                                  error9();
                                                            }
                                                        }
                                                    ?>
                                                    <div class="card-block for_content">
                                                        <div class="table-responsive">
                                                            <table class="table" id="customer">
                                                                <thead>
                                                                    
                                                                    <th>ID</th>
                                                                    <th>Facebook</th>
                                                                    <th>Google</th>
                                                                    <th>Instagram</th>
                                                                    <th>Email</th>
                                                                    <th>Edit</th>
                                                                </thead>
                                                                <tbody>
                                                                    <?php customer_list();?>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Bootstrap tab card end -->
                                            </div>
                                        </div>
                                    </div>

                                    <div id="styleSelector">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</div>
</div>  
  
  
  

	
	<!--------------------------------------MARKETING & SALES ------------------------->
<div id="VISUALIZATION">
<div class="marketing-section">
<div class="container">
<div class="row">
<div class="col-md-4 column1">
<div class="marketing-img">
<img src="{% static 'images/Spend-Viz-category.png' %}">
</div>
<div class="marketing-desc">
<h3> Spend Viz Category</h3>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
</div>
</div>

<div class="col-md-4">
<div class="marketing-img">
<img src="{% static 'images/Marketing-Drivers.png' %}">
</div>
<div class="marketing-desc">
<h3> Marketing Drivers</h3>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
</div>
</div>

<div class="col-md-4 column3">
<div class="marketing-img">
<img src="{% static 'images/Sales-Revenue-Decomposition.png' %}">
</div>
<div class="marketing-desc">
<h3> Sales Revenue Decomposition</h3>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
</div>
</div>
</div>
</div>
</div>
 </div>
 
<!----------------------------------Advanced FEATURES--------------------------->
<div id="advanced">
 <div class="Advanced-section">
<div class="container">
<div class="advaced-header">
<h1> Advanced-Features & Capabilities </h1>
</div>
<div class="row">
<div class="col-md-6 advanced_imag">    
 <img src="{% static 'images/Advanced-Features.jpg' %}"> 
</div>

<div class="col-md-6 advanced_content">   
<div class="advanced-desc"> 
 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. 
</p><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
 </div>
</div>
</div>
</div>
</div>
</div>
<!-------------------------------------Contact Section----------------------------->
<div class="contact-section" id="CONTACT US">
<div class="container">
<div class="row">
<div class="col-md-4 even column1">
<div class="et_pb_blurb_content">
<div class="et_pb_main_blurb_image">
<img src="images/adrs.png">
</div>
<div class="et_pb_blurb_container">
<div class="et_pb_blurb_description">
<p><strong>Main Branch</strong> : #511, NSR Road,<br>At S.Bend, Saibaba Colony,<br>Coimbatore -641 038, TamilNadu.</p></div>
</div>
</div>
</div>

<div class="col-md-4 even column2">
<div class="et_pb_blurb_content">
<div class="et_pb_main_blurb_image">
<img src="{% static 'images/mail.png' %}">
</div>
<div class="et_pb_blurb_container">
<div class="et_pb_blurb_description">
<p><a href="#">info@website.com</a></p></div>						
</div>
</div>
</div>

<div class="col-md-4 column3">
<div class="et_pb_blurb_content">
<div class="et_pb_main_blurb_image">
<img src="{% static 'images/phn.png' %}">
</div>
<div class="et_pb_blurb_container">			
<div class="et_pb_blurb_description">
<p><a href="tel:+91 9043723203">+91 9043723203</a></p>
<p><a href="tel:+91 9043723203">+91 9043723203</a></p></div>
</div>
</div>
</div>

</div>
	
</div>
</div>
<!-------------------------------------main footer----------------------------->
<div class="main-footer">
<div class="footer-bottom">
<div class="container clearfix">
<div class="footer_rights">
<p>All Rights Reserved. MarkAIde</p>
</div>

<div class="footer_social">
<ul class="et-social-icons">
<li class="et-social-icon et-social-facebook" style="display: inline-block;
    margin-left: 20px;">
		<a target="_blank" href="https://www.facebook.com/" class="icon">
			
		</a>
	</li>
	<li class="et-social-icon et-social-linkedin" style="display: inline-block;
    margin-left: 8px;">
		<a target="_blank" href="https://in.linkedin.com/" class="icon">
			
		</a>
	</li>
	</ul>
	
	</div>
	<div class="footer_develop">
	<a href="https://www.pgsoftwares.com/" target="_blank">Website Designing</a> PG softwares
	</div>
</div>
</div>
 </div>
 
 
 
 
 
 
 
 
 
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

</script>
<script>
function openCity(cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  document.getElementById(cityName).style.display = "block";  
}
</script>
<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-87739877-1', 'auto');
		  ga('send', 'pageview');

		</script>
	
	
    </body> 
    
    
<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'assets/js/modernizr/modernizr.js' %}"></script>
<!-- am chart -->
<script src="{% static 'assets/pages/widget/amchart/amcharts.min.js' %}"></script>
<script src="{% static 'assets/pages/widget/amchart/serial.min.js' %}"></script>
<!-- Chart js -->
<script type="text/javascript" src="{% static 'assets/js/chart.js/Chart.js' %}"></script>
<!-- Todo js -->
<script type="text/javascript " src="{% static 'assets/pages/todo/todo.js' %}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'assets/pages/dashboard/custom-dashboard.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
<script type="text/javascript " src="{% static 'assets/js/SmoothScroll.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/vartical-demo.js' %}"></script>
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

<script src="{% static 'https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<!--<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>-->

<script>
    $('#customer').DataTable();
</script>



</html>
<script>

$(document).ready(function(){
	$('#upload_csv').on('submit', function(event){
		event.preventDefault();
		$.ajax({
			url:"fetch.php",
			method:"POST",
			data:new FormData(this),
			dataType:'json',
			contentType:false,
			cache:false,
			processData:false,
			success:function(data)
			{
				var html = '<table class="table table-striped table-bordered">';
				if(data.column)
				{
					html += '<tr>';
					for(var count = 0; count < data.column.length; count++)
					{
						html += '<th>'+data.column[count]+'</th>';
					}
					html += '</tr>';
				}

				if(data.row_data)
				{
					for(var count = 0; count < data.row_data.length; count++)
					{
						html += '<tr>';
						html += '<td class="student_name" contenteditable>'+data.row_data[count].student_name+'</td>';
						html += '<td class="student_phone" contenteditable>'+data.row_data[count].student_phone+'</td></tr>';
					}
				}
				html += '<table>';
				html += '<div align="center"><button type="button" id="import_data" class="btn btn-success">Import</button></div>';

				$('#csv_file_data').html(html);
				$('#upload_csv')[0].reset();
			}
		})
	});

	$(document).on('click', '#import_data', function(){
		var student_name = [];
		var student_phone = [];
		$('.student_name').each(function(){
			student_name.push($(this).text());
		});
		$('.student_phone').each(function(){
			student_phone.push($(this).text());
		});
		$.ajax({
			url:"import.php",
			method:"post",
			data:{student_name:student_name, student_phone:student_phone},
			success:function(data)
			{
				$('#csv_file_data').html('<div class="alert alert-success">Data Imported Successfully</div>');
			}
		})
	});
});

</script>


<?php

function customer_list()
{
    include("{% static 'dbconfig.php' %});
    
    $sql="select * from excelimport ";
                
	$result=mysqli_query($conn,$sql);
        	
        // 	 `name`, `email`, `mobile`, `address`, `comany_name`, `gst_no`, `fax_no`,
        //         `product_name`, `service_status`, `quote`, `reg_date`
        		while($row = mysqli_fetch_array($result)) 
        		{?>
        		 <tr>
        			
        			<td ><?php echo $row['Id'];?></td>
        			<td ><?php echo $row['Facebook'];?></td>
                    <td ><?php echo $row['Google'];?></td>
                    <td ><?php echo $row['Instagram'];?></td>
        			<td ><?php echo $row['Email'];?></td>
        			<td>
  				     <a href="{% static 'c_add.php' %}" data-toggle="tooltip" data-placement="top" title="Add"><button type="button" class="btn btn-info " ><i class="ti-add"></i></button></a>
        			<!-- <a href="c_view.php?c_v_id=<?php echo $row['Id'];?>" data-toggle="tooltip" data-placement="top" title="View"><button type="button" name="" class="btn btn-info"><i class="ti-search"></i></button></a>
        			--> <a href="c_update.php?Id=<?php echo $row['Id'];?>" data-toggle="tooltip" data-placement="top" title="Edit"><button type="button" name="" class="btn btn-primary"><i class="ti-pencil"></i></button></a>
        			 <a href="customer - Copy.php?c_del=<?php echo $row['Id'];?>" data-toggle="tooltip" data-placement="top" title="Delete"><button type="button" name="" class="btn btn-danger"><i class="ti-trash"></i></button></a>
        			   
        			</td>
        			
        		</tr> 	
        		<?php 
        		}
        		
}

//   <button class="btn btn-primary btn-outline-primary btn-icon"><i class="icofont icofont-user-alt-3"></i></button>
//                     <button class="btn btn-success btn-outline-success btn-icon"><i class="icofont icofont-check-circled"></i></button>
//                     <button class="btn btn-info btn-outline-info btn-icon"><i class="icofont icofont-info-square"></i></button>
//                     <button class="btn btn-warning btn-outline-warning btn-icon"><i class="icofont icofont-warning-alt"></i></button>
//                     <button class="btn btn-danger btn-outline-danger btn-icon"><i class="icofont icofont-eye-alt"></i></button>
//                     <button class="btn btn-inverse btn-outline-inverse btn-icon"><i class="icofont icofont-exchange"></i></button>
//                     <button class="btn btn-disabled btn-outline-disabled btn-icon disabled"><i class="icofont icofont-not-allowed"></i></button>
//                 </div>
function error2()
    {
        if(isset($_GET['error2']) && $_GET['error2']) 
    	{
    	?>
    		<div class="container">
    			    <div class="alert alert-success alert-dismissible">
    				        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    					    <strong>Profile Updated successfully!!</strong>
    				</div>
    		</div>
    	<?php
        
        }
    }
    function error3()
    {
        if(isset($_GET['error3']) && $_GET['error3']) 
    	{
    	?>
    		<div class="container">
    			    <div class="alert alert-danger alert-dismissible">
    				        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    					    <b>Updated failed..Email or Mobile already exists!!</b>
    				</div>
    		</div>
    	<?php
        
        }
    }
    
      function err_e()
    {
        if(isset($_GET['err_e']) && $_GET['err_e']) 
    	{
    	?>
    		<div class="container">
    			    <div class="alert alert-warning alert-dismissible">
    				        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    					    <b>Email Address already exists!!</b>
    				</div>
    		</div>
    	<?php
        
        }
    }

  function err_m()
    {
        if(isset($_GET['err_m']) && $_GET['err_m']) 
    	{
    	?>
    		<div class="container">
    			    <div class="alert alert-warning alert-dismissible">
    				        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    					    <b>Mobile number already exists!!</b>
    				</div>
    		</div>
    	<?php
        
        }
    }


    function error4()
    {
        if(isset($_GET['error4']) && $_GET['error4']) 
    	{
    	?>
    		<div class="container">
    			    <div class="alert alert-success alert-dismissible">
    				        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    					    <strong>Password Updated successfully!!</strong>
    				</div>
    		</div>
    	<?php
        
        }
    }
    function error5()
    {
        if(isset($_GET['error5']) && $_GET['error5']) 
    	{
    	?>
    		<div class="container">
    			    <div class="alert alert-danger alert-dismissible">
    				        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    					    <strong>Passwrod Updation failed..Please try again!!</strong>
    				</div>
    		</div>
    	<?php
        
        }
    }
    
    function error6()
    {
        if(isset($_GET['error6']) && $_GET['error6']) 
    	{
    	?>
    		<div class="container">
    			    <div class="alert alert-warning alert-dismissible">
    				        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    					    <strong>New password and Confirm password not match!!</strong>
    				</div>
    		</div>
    	<?php
        
        }
    }
    function error7()
    {
        if(isset($_GET['error7']) && $_GET['error7']) 
    	{
    	?>
    		<div class="container">
    			    <div class="alert alert-warning alert-dismissible">
    				        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    					    <strong>Old password wrong!!</strong>
    				</div>
    		</div>
    	<?php
        
        }
    }
    function emptyf()
    {
        if(isset($_GET['emptyf']) && $_GET['emptyf']) 
    	{
    	?>
    		<div class="container">
    			    <div class="alert alert-warning alert-dismissible">
    				        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    					    <strong>Empty field found!!</strong>
    				</div>
    		</div>
    	<?php
        
        }
    }function noc()
    {
        if(isset($_GET['noc']) && $_GET['noc']) 
    	{
    	?>
    		<div class="container">
    			    <div class="alert alert-success alert-dismissible">
    				        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    					    <strong>No changes made!!</strong>
    				</div>
    		</div>
    	<?php
        
        }
    }
    
    
    
     function error8()
    {
        if(true) 
    	{
    	?>
    		<div class="container">
    			    <div class="alert alert-success alert-dismissible">
    				        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    					    <strong>Customer Details deleted successfully!!</strong>
    				</div>
    		</div>
    	<?php
        
        }
    }
     function error9()
    {
        if(true) 
    	{
    	?>
    		<div class="container">
    			    <div class="alert alert-danger alert-dismissible">
    				        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    					    <strong>Customer Details deletion failed!!</strong>
    				</div>
    		</div>
    	<?php
        
        }
    }
    
    ?>
    
